# ignore Node modules and Build-Ordner 
node_modules/
build/
dist/

# Lockfiles ignorieren
package-lock.json
yarn.lock

# CI/CD und Konfigurationsdateien ignorieren
.github/workflows/*.yml
Dockerfile

# Images and Media
*.png
*.jpg
*.jpeg
*.svg
*.ico
*.mp4
*.mp3
*.wav

# IDE und lokale Einstellungen ignorieren
.vscode/
.env